@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.font_F{
  font-family:'Agbalumo',serif!important;
}
.fa-xmark{
  position: absolute;
  font-size: 1.5rem;
  top: 0px;
  right: 0px;
  background: #ffffff;
  color: #c51350; 
  cursor: pointer;
}
.top_1{
  margin-top: 77px;
}

.img_1{
  height: 600px;
  margin-top: 4rem;
  border-radius:1rem !important;

}
.img_2{
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.img_3{
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.logo {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.tour{
  background: #118a7e;
}
.para{
  font-weight: lighter;
}
.tour-info{
background: #3baea0;
color: #ffffff;
font-weight:700;
}
.tourlist{
  background:#93e4c1;
}
.Nav_bg{
  background-color:#1f6f78 ;
}
.Nav_bg3{
  background: #93e4c1;
}
.Nav_bg1{
  background-color:#93e4c1 ;
}
.Btn{
  outline: none;
  border: none;
  background: #ffffff;
  color: #c51350;
  font-weight: bold;
}
.btn:hover{
  color: #ffffff;
  background-color: #c51350!important;
}
.form-floating input:focus + label {
  color: #3baea0 !important;
}
.form-floating input:focus {
  box-shadow: 0 0 10px rgba(255, 77, 0, 0.2) !important;
  border: 1px solid #3baea0;
  outline: none; 
}
.form-floating textarea:focus + label {
  color: #3baea0 !important;
}
.form-floating textarea:focus {
  box-shadow: 0 0 10px rgba(0, 205, 78, 0.2) !important;
  border: 1px solid #3baea0;
  outline: none;
}
.Sign_in {
  background-color: #93e4c1!important;
  color: black!important;
}
.Sign_in:hover{
  background-color: #3baea0!important;
  color: #ffffff!important;
}
